<template>
  <AppHeaderDropdown right no-caret >
    <template slot="header">
      <b>{{cuenta}}</b>
      <img
        :src="urlImage"
        class="img-avatar"
        alt="perfil de usuario" />
    </template>\
    <template slot="dropdown" >
      <b-dropdown-header tag="div" class="text-center"><strong>Configuración</strong></b-dropdown-header>
          <b-dropdown-item @click.prevent="irPerfil()" ><i class="fa fa-user" />  Perfil</b-dropdown-item>
          <b-dropdown-item @click.prevent="cambiar_tema()" ><i class="fa fa-adjust" />  Cambiar Tema</b-dropdown-item>
          <b-dropdown-item  @click.prevent="cerrar_session()" ><i class="fa fa-lock" /> Cerrar Sesión</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>


<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
import { Global } from "../data/Global";

import axios from "axios";
import VueNotifications from 'vue-notifications'

export default {
  name: 'DefaultHeaderDropdown',
  components: {
    AppHeaderDropdown
  },
   mounted(){
      var imagen = this.$session.get('dashboard_imagen');
      if(imagen === "default.png" || imagen === "" || imagen === null){
                 var sexo = this.$session.set('dashboard_sexo',  "dark");
                 if(sexo === "Femenino"){
                      this.urlImage = "/img/usuarios/Femenino.png";
                 }else{
                       this.urlImage = "/img/usuarios/Masculino.png";
                 }
      }else{
               this.urlImage = Global.host + "imagen?nombre="+imagen;
      }

       this.cuenta = this.$session.get('dashboard_usuario');

  },
  data: function() {
    return {
      urlImage: "",
      cuenta : "",
      url : Global.host + "userstema",
    };
  },
   methods: {
    cambiar_tema() {
            var tema = this.$session.get('dashboard_tema');
            var id_usuario = this.$session.get('dashboard_id_usuario');
            var nuevotema = "white";
            if(tema === "white"){
                  nuevotema = "dark";
            }

            var data = {
                  id_usuario: id_usuario,
                  tema: nuevotema
            };
                             

        var token = this.$session.get("dashboard_token");
        axios
          .put(this.url, data, {
            headers: { Authorization: `Bearer ${token}` }
          })
          .then(res => {
            var response = res.data;
            if (res.status === 200) {
               this.$session.set('dashboard_tema',  nuevotema);
              this.showSuccessMsg({ message: response.msj });
              location.reload();
                          //location.assign(location.origin);

            } else {
              this.showErrorMsg({ message: response.msj });
            }
          })
          .catch(error => {
            var res = error.response;
            var response = res.data;
            if (res.status === 401) {
              this.$session.destroy();
              this.$router.push("/login");
              this.showErrorMsg({ message: response.msj });
            } else if (res.status === 400) {
              this.showErrorMsg({ message: response.msj });
            } else {
              this.showErrorMsg({ message: error.message });
            }
          });

            
    },
    cerrar_session() {
           this.$session.destroy()
           this.$router.push('/login')
    },
    irPerfil() {
           this.$router.push('/perfil')
    }
  },
   notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dashboard',
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type:  VueNotifications.types.error,
      title: 'Dashboard - Error',
      message: "",
       timeout: 3000
    }
  }
}
</script>

