<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile />
      <b-link class="navbar-brand" to="/">
        <img class="navbar-brand-full" src="img/brand/logo_letras.png" width="140" height="30" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/logo.png" width="30" height="30" alt="CoreUI Logo">
      </b-link>
      
      <SidebarToggler class="d-md-down-none" display="lg" />
     
      <b-navbar-nav class="ml-auto">
        <DefaultHeaderDropdown />
      </b-navbar-nav>
            
      
      <!--<AsideToggler class="d-none d-lg-block" />-->
    </AppHeader>
    <div class="app-body" >
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="navItems"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list" />
        <div class="container-fluid" id="contenedor">
          <router-view></router-view>
        </div>
      </main>
      <!--
      <AppAside fixed>
        <DefaultAside/>
      </AppAside>-->
    </div>
   <!-- <TheFooter>
      <div>-->
        <!--<a href="https://coreui.io">CoreUI</a>
        <span class="ml-1">&copy; 2018 creativeLabs.</span>-->
    <!--  </div>
      <div class="ml-auto">
        <!-- <span class="mr-1">Powered by</span>
        <a href="https://coreui.io">CoreUI for Vue</a>-->
    <!--  </div>
    </TheFooter>-->
  </div>
</template>

<script>
import nav from '@/_nav'
import { Header as AppHeader, SidebarToggler, Sidebar as AppSidebar, SidebarFooter, SidebarForm, SidebarHeader, SidebarMinimizer, SidebarNav, Aside as AppAside, AsideToggler, Footer as TheFooter, Breadcrumb } from '@coreui/vue'
import DefaultAside from './DefaultAside'
import DefaultHeaderDropdown from './DefaultHeaderDropdown'
import { Global } from "../data/Global";
import axios from "axios";


export default {
  name: 'DefaultContainer',
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    TheFooter,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdown,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer
  },
  mounted(){
       this.getRutas();
  },
  data () {
    return {
      navItems: []
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched.filter((route) => route.name || route.meta.label )
    }
  },
   methods: {
    getRutas() {

          if (!this.$session.exists()) {
                this.$router.push('/')
          }else{
                  var cad_ruta = this.$session.get("dashboard_rutas");
                  this.navItems = JSON.parse(cad_ruta);
                  console.log(this.navItems);
          }
          var c = document.getElementById("contenedor");
         // c.textContent = "";
          console.log("rutas");
    }
  }
}
</script>

<style>
/*.main .container-fluid{
     border: 0px;
     margin: 0px;
     padding: 0px;
}

.main .breadcrumb{
     border: 0px;
     margin: 0px;
}*/
</style>
