// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
//@import "~@coreui/coreui-pro/scss/coreui";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
//@import "custom";
//@import "~datatables/media/css/jquery.dataTables.css";


// ie fixes
@import "ie-fix";

#cy {
    width: 100%;
    height: 100vh;
    display: block;
  }