<template>
  <div class="container">
    <div class="animated fadeIn">
      <b-row>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Agregar Rol de Usuario</strong>
            </div>
            <b-row>
              <b-col sm="12">
                <b-form-group label="Nombre" description="Nombre del rol"  :label-cols="3">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <b-form-input type="text" name="nombre"  v-model="rol.nombre" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              

              <b-col sm="12">
                <b-form-group
                  label="Permisos"
                  label-for="basicCustomCheckboxes"
                  :label-cols="3"
                >
                  <b-form-checkbox-group stacked id="basicCustomCheckboxes">
                  
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"  v-model="rol.rutas.dashboard" id="dashboard" disabled checked />
                      <label class="custom-control-label" for="dashboard">  <i class="fa fa-home"></i>  Dashboard</label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"  v-model="rol.rutas.buscador" id="buscador" />
                      <label class="custom-control-label" for="buscador">  <i class="fa fa-search"></i>  Buscador </label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.analisis" id="analisis" />
                      <label class="custom-control-label" for="analisis">  <i class="fa fa-map-marker"></i>  Analisis Geoespacial </label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.geoanalisis" id="geoanalisis" />
                      <label class="custom-control-label" for="geoanalisis">  <i class="fa fa-globe"></i>  Geoanalisis De Proximidad Delincuencial </label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.redes" id="redes" />
                      <label class="custom-control-label" for="redes">  <i class="fa fa-sitemap"></i>  Redes </label>
                    </div>
                    <br>
                   
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.usuarios" id="usuarios" />
                      <label class="custom-control-label" for="usuarios">  <i class="fa fa-users"></i>  Usuarios</label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.registro" id="registro" />
                      <label class="custom-control-label" for="registro">  <i class="fa fa-user-plus"></i>  Registro</label>
                    </div>
                    <br>

                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.rendimiento" id="rendimiento" />
                      <label class="custom-control-label" for="rendimiento">  <i class="fa fa-bar-chart"></i>  Rendimiento de Usuarios </label>
                    </div>
                    <br>

                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.roles" id="roles" />
                      <label class="custom-control-label" for="roles">  <i class="fa fa-lock"></i>  Roles de Usuario</label>
                    </div>
                    <br>

                     <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" v-model="rol.rutas.agregar_rol" id="agregar_rol" />
                      <label class="custom-control-label" for="agregar_rol">  <i class="fa fa-plus-circle"></i>  Agregar Roles</label>
                    </div>
                    <br>




                    

                  </b-form-checkbox-group>
                </b-form-group>
              </b-col>

              <b-col sm="12">
                <b-col sm xs="12" class="text-right mt-3">
                  <b-button variant="primary"  @click.prevent="GuardarRol()">
                    <i class="fa fa-plus-circle"></i>&nbsp;Guardar Rol
                  </b-button>&nbsp;&nbsp;
                  <b-button variant="danger"  @click.prevent="Limpiar()" >
                    <i class="fa fa-trash"></i>&nbsp;Cancelar
                  </b-button>
                </b-col>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
        <!--  <b-col sm="6">
        <b-card>
          <div slot="header">
            <strong>Dashboard</strong> <small class="ml-1">[datos de personalización]</small>
      
          </div>
          <div>
            <multiselect v-model="multi" :options="options" :multiple="true" label="label" track-by="label"></multiselect>
          </div>
        </b-card>
       
    
        </b-col>-->
      </b-row>
    </div>
  </div>
</template>

<script>

import { required, minLength } from "vuelidate/lib/validators";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from 'vue-notifications'
export default {
  name: "AgregarRoles",
  validations: {
    rol: {
      nombre: {
        required
      }
    }
  },
  data() {
    return {
      rol: {
        nombre: "",
        rutas: {
            dashboard : true,
            buscador : false,
            analisis : false,
            geoanalisis : false,
            redes : false,
            usuarios : false,
            registro : false,
            rendimiento : false,
            roles : false,
            agregar_rol : false
        },
        permisos : {}
      },
      roles: {
         dashboard : {"name":"Dashboard","url":"/dashboard","icon":"fa fa-home"},
         buscador : {"name":"Buscador","url":"/buscador","icon":"fa fa-search"},
         analisis : {"name":"Analisis Geoespacial","url":"/analisis","icon":"fa fa-map-marker"},
         geoanalisis : {"name":"Geoanalisis P.D.","url":"/geoanalisis","icon":"fa fa-globe"},
         redes :  {"name":"Redes","url":"/redes","icon":"fa fa-sitemap"},
         rendimiento : {"name":"Rendimiento","url":"/rendimiento","icon":"fa fa-bar-chart"},
         usuarios : {"name":"Usuarios","url":"/usuarios","icon":"fa fa-users"},
         registro : {"name":"Registro","url":"/registro","icon":"fa fa-user-plus"},
         roles : {"name":"Roles","url":"/roles","icon":"fa fa-lock"},
         agregar_rol : {"name":"Agregar Rol","url":"/agregar_rol","icon":"fa fa-plus-circle"}
      },
      cargando : false,
      url : Global.host + "roles"
    };
  },
  methods: {
    GuardarRol() {
       this.cargando = true;
       this.$v.$touch();
       if (this.$v.$invalid) {  
              this.showErrorMsg({message: "Ingresa el nombre del rol."});
       }
       else {
        var array_rutas = [];
        var obj_permisos = {};
        for(var i in this.rol.rutas){
               if(this.rol.rutas[i]){
                    array_rutas.push(this.roles[i]);
                    obj_permisos[i] = true;   
                    if(i === "roles"){
                          obj_permisos['editar_rol'] = true;   
                          obj_permisos['eliminar_rol'] = true;   
                    }
                     if(i === "usuarios"){
                          obj_permisos['editar_usuario'] = true;   
                          obj_permisos['eliminar_usuario'] = true;   
                          obj_permisos['perfil_usuario'] = true;   
                    }
               }
        }

        obj_permisos['perfil'] = true; 

         var data = {
                    nombre: this.rol.nombre,
                    rutas: JSON.stringify(array_rutas),
                    permisos : JSON.stringify(obj_permisos)
        };

        var token = this.$session.get("dashboard_token");
        axios
          .post(
           this.url,
           data,
           { headers: {"Authorization" : `Bearer ${token}`} }
          )
          .then(res => {
              var response = res.data;
              if(res.status === 200){
                     this.showSuccessMsg({message: response.msj});
                     this.Limpiar();
              }
              else{
                     this.showErrorMsg({message: response.msj});
              }

          }).catch((error) => {      
                  var res = error.response;
                  var response = res.data;
                  if(res.status === 401){
                        this.$session.destroy();
                        this.$router.push('/login');
                        this.showErrorMsg({message: response.msj});
                  }
                  else if(res.status === 400){
                              this.showErrorMsg({message: response.msj});
                  }else{
                              this.showErrorMsg({message: error.message});
                  }

          });
      }
    },
    AgregarPermiso(obj, permiso){
        obj[permiso] = true;   
    },
    AgregarRuta(array, permiso){
          var obj = {};
          obj[permiso] = this.roles[permiso];
          array.push(obj);
    },
    Limpiar(){
        this.rol.nombre = "";
        this.rol.permisos = {};
        this.rol.rutas.dashboard = true;
        this.rol.rutas.buscador = false;
        this.rol.rutas.analisis = false;
        this.rol.rutas.geoanalisis = false;
        this.rol.rutas.redes = false;
        this.rol.rutas.usuarios = false;
        this.rol.rutas.registro = false;
        this.rol.rutas.rendimiento = false;
        this.rol.rutas.roles = false;
        this.rol.rutas.agregar_rol = false;

    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dashboard',
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type:  VueNotifications.types.error,
      title: 'Dashboard - Error',
      message: "",
       timeout: 3000
    }
  }
 
};
</script>

