<template>
  <div>
           <img src="/img/brand/logo.png" alt="Paris"  class="fondo">
  </div>
</template>

<script>
export default {
  name: 'dashboard',
   mounted() {
          /*
          const plugin = document.createElement("script");
          plugin.setAttribute(
            "src",
            "http://falconmasters.com/demos/particulas/particles.min.js"
          );
          plugin.async = true;
          document.head.appendChild(plugin);

          const plugin2 = document.createElement("script");
          plugin2.setAttribute(
            "src",
            "http://falconmasters.com/demos/particulas/particulas.js"
          );
          plugin2.async = true;
          document.head.appendChild(plugin2);*/
              
  }
}
</script>
<style scoped>
.fondo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>