<template>
  <div id="fl">
    <div class="col s12 m4 l2">
      <div class="login-box">
        <img src="/img/brand/logo_login.png" class="avatar" alt="Avatar Image" />
        <div class="row">
          <div class="col s12">
            <b-card-body>
              <b-form>
                <h3 style="color: white;">Dashboard</h3>
                </br>
                </br>
                <p class="text-muted"></p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text>
                      <i class="icon-user"></i>
                    </b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input
                    type="email"
                    class="form-control"
                    placeholder="Usuario"
                    name="usuario"
                    v-model="user.usuario"
                    autocomplete="email"
                  />
                </b-input-group>
                <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text>
                      <i class="icon-lock"></i>
                    </b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                    name="password"
                    v-model="user.password"
                    autocomplete="current-password"
                  />
                </b-input-group>

                <br />
                <b-row>
                  <b-col cols="12">
                    <h3>
                      <b-button
                        variant="primary"
                        @click.prevent="getLogin()"
                        class="px-4"
                      >Iniciar Sesión</b-button>
                    </h3>
                  </b-col>
                </b-row>

              
              </b-form>
            </b-card-body>
          </div>

          <img
            src="/img/brand/footer_login.png"
            style="margin-top:40px;"
            width="100%"
            height="70px"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from 'vue-notifications'

export default {
  name: "Login",
  validations: {
    user: {
      usuario: {
        required
      },
      password: {
        required
      }
    }
  },
  data() {
    return {
      user: {
        usuario: "",
        password: ""
      },
      cargando : false,
    };
  },
  methods: {
    getLogin() {
      this.cargando = true;
      console.log(this.user);
      this.$v.$touch();
      if (this.$v.$invalid) {  
              this.showErrorMsg({message: "Ingresa los datos correctamente."});
      } else {

        axios
          .get(
            Global.host+"login?usuario="+this.user.usuario+"&password="+this.user.password
          )
          .then(res => {
              var response = res.data;
              if(response.status){
                           console.log(response.data);
                            this.$session.start()
                            this.$session.set('dashboard_sesison', "sucess")
                           // this.axios.defaults.headers.common['Authorization'] = 'Bearer ' +this.$session.get("token")
                            this.$session.set('dashboard_token', response.data.token)
                            this.$session.set('dashboard_imagen', response.data.imagen)
                            this.$session.set('dashboard_usuario', response.data.usuario)
                            this.$session.set('dashboard_permisos', response.data.permisos)
                            this.$session.set('dashboard_rutas', response.data.rutas)
                            this.$session.set('dashboard_tema',  response.data.tema)
                            this.$session.set('dashboard_nombre',  response.data.nombre)
                            this.$session.set('dashboard_sexo',  response.data.sexo)
                            this.$session.set('dashboard_id_usuario',  response.data.id_usuario)

                            this.$router.push('/dashboard');
                            this.showSuccessMsg({message: "Sesión Iniciada ..."});
              }else{
                     this.showErrorMsg({message: response.msj});
              }


          }).catch((error) => {      
                     this.showErrorMsg({message: "Ocurrio un error, intentalo nuevamente."});
          });
      }
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dashboard',
      message: "",
      timeout: 1000
    },
    showErrorMsg: {
      type:  VueNotifications.types.error,
      title: 'Dashboard - Error',
      message: "",
       timeout: 1000
    }
  }
};
</script>


<style>
#fl {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/imagenes/bg.jpg") no-repeat #000;
  background-size: cover;
}

.login-box {
  width: 350px;
  height: 500px;
  background-color: rgba(47, 53, 58, 0.85);
  color: black;
  top: 50vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 120px;
  height: 120px;
  border-radius: 20%;
  opacity: 0.8;
  position: absolute;
  top: -55px;
  left: calc(50% - 60px);
}

.login-box h3 {
  text-align: center;
}

.login-box p {
  text-align: center;
}

</style>

