<template>
  <div class="container">
    <div class="animated fadeIn">
      <b-row>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Perfil de Usuario</strong>
            </div>
            <b-row>
              <b-col sm="12"  id="fondo">
                <b-form-group>
                  <h6 class="text-center">
                    <img
                      ref="image"
                      :src="userImage"
                      alt="Imagen de Perfil"
                      class="img-avatar"
                      width="30%"
                    />
                  </h6>
                </b-form-group>
              </b-col>
              <b-col sm="12">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Campos</th>
                        <th>Datos</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      <tr>
                        <td>
                           Nombre    
                        </td>
                        <td>
                         {{usuario.nombre}}
                        </td>
                      </tr>

                       <tr>
                        <td>
                           Apellido Paterno
                        </td>
                        <td>
                         {{usuario.apellido_paterno}}
                        </td>
                      </tr>

                       <tr>
                        <td>
                           Apellido Materno   
                        </td>
                        <td>
                         {{usuario.apellido_materno}}
                        </td>
                      </tr>

                       <tr>
                        <td>
                           Sexo 
                        </td>
                        <td>
                         {{usuario.sexo}}
                        </td>
                      </tr>

                       <tr>
                        <td>
                           Usuario 
                        </td>
                        <td>
                         {{usuario.usuario}}
                        </td>
                      </tr>

                       <tr>
                        <td>
                           Tema 
                        </td>
                        <td>
                         {{usuario.tema}}
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </b-col>
         
            </b-row>


          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from "vue-notifications";
export default {
  name: "PerfilUsuarios",
  validations: {
    usuario: {
      nombre: {
        required
      },
      apellido_paterno: {
        required
      },
      apellido_materno: {
        required
      },
      usuario: {
        required
      },
      password: {
        required
      }
    }
  },
  mounted() {
    this.getRoles();
    var id = this.$route.params.id;
    this.getUsuario(id);
  },
  data() {
    return {
      usuario: {
        id_usuario: 0,
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        sexo: "Masculino",
        usuario: "",
        password: "",
        tema: "Dark",
        tipo: "Selecciona un Tipo",
        imagen: ""
      },
      opciones_sexo: ["Masculino", "Femenino"],
      opciones_tipo: ["Selecciona un Tipo"],
      opciones_tema: ["Dark", "White"],
      opciones_tipo_id: { "Selecciona un Tipo": 0 },
      cargando: false,
      file: "",
      url: Global.host + "users",
      urlRoles: Global.host + "roles",
      userImage: "/img/usuarios/Masculino.png",
      urlImage: Global.host + "imagen?nombre="
    };
  },
  methods: {
    GuardaUsuario() {
      this.cargando = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.showErrorMsg({ message: "Campos incompletos" });
      } else {
        var id_rol = this.opciones_tipo_id[this.usuario.tipo];
        if (id_rol === 0) {
          this.showErrorMsg({ message: "Seleccione un tipo de Usuario" });
          return;
        }
        var formData = new FormData();
        console.log(this.file);
        formData.append("id_usuario", this.usuario.id_usuario);
        formData.append("nombre", this.usuario.nombre);
        formData.append("apellido_paterno", this.usuario.apellido_paterno);
        formData.append("apellido_materno", this.usuario.apellido_materno);
        formData.append("sexo", this.usuario.sexo);
        formData.append("usuario", this.usuario.usuario);
        formData.append("password", this.usuario.password);
        formData.append("tema", this.usuario.tema);
        formData.append("tipo", id_rol);

        if (this.file != "default" && this.file != "sincambio") {
          formData.append("imagen", this.file);
        }

        var token = this.$session.get("dashboard_token");
        axios
          .put(this.url, formData, {
            headers: { Authorization: `Bearer ${token}` }
          })
          .then(res => {
            var response = res.data;
            console.log(response);
            if (res.status === 200) {
              this.showSuccessMsg({ message: response.msj });
              //this.Limpiar();
            } else {
              this.showErrorMsg({ message: response.msj });
            }
          })
          .catch(error => {
            console.log(error);

            var res = error.response;

            var response = res.data;
            if (res.status === 401) {
              this.$session.destroy();
              this.$router.push("/login");
              this.showErrorMsg({ message: response.msj });
            } else if (res.status === 400) {
              this.showErrorMsg({ message: response.msj });
            } else {
              this.showErrorMsg({ message: error.message });
            }
          });
      }
    },
    Limpiar() {
      this.usuario.nombre = "";
      this.usuario.apellido_paterno = "";
      this.usuario.apellido_materno = "";
      this.usuario.usuario = "";
      this.usuario.password = "";
      this.usuario.imagen = "";
      this.usuario.sexo = "Masculino";
      this.usuario.tema = "Dark";
      this.usuario.tipo = "Selecciona un Tipo";
      this.file = "";
      var img = this.$refs.image;
      img.src = "img/usuarios/Masculino.png";
    },
    fileChange() {
      this.file = this.$refs.file.$refs.input.files[0];

      var img = this.$refs.image;

      if (this.file != "") {
        var reader = new FileReader();
        reader.onload = function(e) {
          img.src = e.target.result;
        };
        reader.readAsDataURL(this.file);
      }
    },
    imagenPorSexo() {
      if (this.file === "default") {
        var img = this.$refs.image;
        if (this.usuario.sexo === "Masculino") {
          img.src = "/img/usuarios/Masculino.png";
        } else {
          img.src = "/img/usuarios/Femenino.png";
        }
      }
    },
    agregarImagen() {
      this.$refs.file.$refs.input.click();
    },
    getRoles() {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.urlRoles, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
            var roles = response.data;
            for (var i = 0; i < roles.length; i++) {
              this.opciones_tipo.push(roles[i].nombre);
              this.opciones_tipo_id[roles[i].nombre] = roles[i].id_rol;
            }
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          var res = error.response;
          var response = res.data;

          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }
        });
    },
    getUsuario(id) {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.url + "id?id=" + id, {
          headers: { Authorization: `Bearer ${token}` }
        })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
            var datos = response.data;
            if (Object.keys(datos).length > 0) {
              this.usuario.nombre = datos.nombre;
              this.usuario.apellido_paterno = datos.apellido_paterno;
              this.usuario.apellido_materno = datos.apellido_materno;
              this.usuario.usuario = datos.usuario;
              this.usuario.sexo = datos.sexo;
              this.usuario.tema = datos.tema;
              this.usuario.id_usuario = datos.id_usuario;

              var img = this.$refs.image;
              if (datos.imagen != "default.png") {
                img.src = this.urlImage + datos.imagen;
                this.file = "sincambio";
              } else {
                if (this.usuario.sexo === "Masculino") {
                  img.src = "/img/usuarios/Masculino.png";
                } else {
                  img.src = "/img/usuarios/Femenino.png";
                }
                this.file = "default";
              }
            } else {
              this.$router.push("/usuarios");
            }
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          console.log(error.message);
          var res = error.response;
          var response = res.data;
          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }
        });
    },
    Regresar() {
      this.$router.push("/usuarios");
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Dashboard",
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Dashboard - Error",
      message: "",
      timeout: 3000
    }
  }
};
</script>


<style>
#fondo {
  width: 100%;
  height: 50vh;
  background: url("/img/perfiles/fondo.jpg") no-repeat #000;
}

</style>