<template>
  <div class="container">

    <div class="animated fadeIn" ref="busqueda">
      <b-row>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Busqueda</strong>

              <div class="card-header-actions">
                <b-button variant="outline-success" @click="irRegistro()">
                  <strong>
                    <i class="fa fa-file-text-o"></i>&nbsp;Registros Guardados
                  </strong>
                </b-button>
              </div>
            </div>
            <b-row>
              <b-col sm="4">
                <b-form-group label="Nombre" description="Nombre del usuario">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user-circle"></i>
                      </span>
                    </div>
                    <b-form-input
                      type="text"
                      name="nombre"
                      v-model="busqueda.nombre"
                      class="form-control"
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Apellido Paterno" description="Apellido Paterno">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-id-card-o"></i>
                      </span>
                    </div>
                    <b-form-input
                      type="text"
                      name="apellido_paterno"
                      v-model="busqueda.apellido_paterno"
                      class="form-control"
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Apellido Materno" description="Apellido Paterno">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-id-card"></i>
                      </span>
                    </div>
                    <b-form-input
                      type="text"
                      name="apellido_materno"
                      v-model="busqueda.apellido_materno"
                      class="form-control"
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="CURP" description="CURP">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-vcard"></i>
                      </span>
                    </div>
                    <b-form-input
                      type="text"
                      name="curp"
                      v-model="busqueda.curp"
                      class="form-control"
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="RFC" description="RFC">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-vcard-o"></i>
                      </span>
                    </div>
                    <b-form-input
                      type="text"
                      name="rfc"
                      v-model="busqueda.rfc"
                      class="form-control"
                    ></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-col sm xs="12" class="text-right mt-3">
                  <b-button variant="primary" @click.prevent="GuardaUsuario()">
                    <i class="fa fa-search"></i>&nbsp;Buscar
                  </b-button>&nbsp;&nbsp;
                  <b-button variant="danger" @click.prevent="Limpiar()">
                    <i class="fa fa-trash"></i>&nbsp;Cancelar
                  </b-button>
                </b-col>
              </b-col>
              <b-col sm="8">
                <table id="tabla" class="display cell-border">
                  <thead>
                    <tr>
                      <th>Foto</th>
                      <th>Nombre</th>
                      <th>Sexo</th>
                      <th>Ocupacion</th>
                      <th>Red</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in resultadosbusqueda" :key="item.id">
                      <td>
                        <img
                          v-if="item.imagen != 'default.png'"
                          :src="urlImage+item.imagen"
                          class="img-avatar"
                          width="70px"
                        />
                        <img
                          v-if="item.imagen === 'default.png'"
                          :src="'img/usuarios/'+item.sexo+'.png'"
                          class="img-avatar"
                          width="70px"
                        />
                      </td>
                      <td>{{item.nombre +' '+ item.apellido_paterno + ' '+item.apellido_materno}}</td>
                      <td>{{item.sexo}}</td>
                      <td>Licenciado</td>

                      <td>
                        <b-button variant="ghost-warning" @click="mostrarRed()">
                          <i class="fa fa-eye"></i>&nbsp;Red
                        </b-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </div>

    <div class="animated fadeIn" id="panel_registro" ref="registro">
      <b-row>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Registros Guardados</strong>

              <div class="card-header-actions">
                <b-button variant="outline-primary" @click="irBusqueda()">
                  <strong>
                    <i class="fa fa-search"></i>&nbsp;Busqueda
                  </strong>
                </b-button>
              </div>
            </div>
            <b-row>
              <b-col sm="12">
                <table id="tabla2" class="display cell-border">
                  <thead>
                    <tr>
                      <th>Subtitulo</th>
                      <th>Referencia</th>
                      <th>Fecha</th>
                      <th>Red</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in registrosguardados" :key="item.id">
                      <td>{{item.subtitulo}}</td>
                      <td>{{item.referencia}}</td>
                      <td>{{item.fecha}}</td>

                      <td>
                        <b-button variant="ghost-warning" @click="mostrarRed()">
                          <i class="fa fa-eye"></i>&nbsp;Red
                        </b-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </div>

    <div class="animated" id="panel_red" ref="red">
      <b-card>
        <b-card-header style="height:55px;">
          <strong>
            <i class="fa fa-sitemap"></i> Red de Vinculos
          </strong>

          <div class="card-header-actions">
            <b-button variant="outline-info" @click="irBusqueda()">
              <strong>
                <i class="fa fa-save"></i>&nbsp;Guardar Red
              </strong>
            </b-button>
            &nbsp;
            <b-button variant="outline-primary" @click="irBusqueda()">
              <strong>
                <i class="fa fa-search"></i>&nbsp;Busqueda
              </strong>
            </b-button>&nbsp;
            <b-button variant="outline-success" @click="irRegistro()">
              <strong>
                <i class="fa fa-file-text-o"></i>&nbsp;Registros Guardados
              </strong>
            </b-button>
          </div>
        </b-card-header>
        <b-card-body>
          <br />
          <div id="cy"></div>
        </b-card-body>
      </b-card>
    </div>

  </div>
</template>

<script>
import cytoscape from "cytoscape";
import { required, minLength } from "vuelidate/lib/validators";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from "vue-notifications";
import $ from "jquery";
import dataTable from "datatables";

export default {
  name: "Redes",
  mounted() {
    this.getBusqueda();
    this.setDataTableRegistro();
    // cy init
  },
  validations: {
    busqueda: {
      nombre: {
        required
      },
      apellido_paterno: {
        required
      },
      apellido_materno: {
        required
      },
      curp: {
        required
      },
      rfc: {
        required
      }
    }
  },
  data() {
    return {
      busqueda: {
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        curp: "",
        rfc: ""
      },
      cargando: false,
      url: Global.host + "users",
      urlImage: Global.host + "imagen?nombre=",
      resultadosbusqueda: [],
      registrosguardados: [
        {
          subtitulo: "Red Guardada 1",
          referencia: "Juan Perez Lopez",
          fecha: "27-11-2019"
        },
        {
          subtitulo: "Red Guardada 2",
          referencia: "Juan Perez Lopez",
          fecha: "28-11-2019"
        },
        {
          subtitulo: "Red Guardada 3",
          referencia: "Juan Perez Lopez",
          fecha: "29-11-2019"
        },
        {
          subtitulo: "Red Guardada 4",
          referencia: "Juan Perez Lopez",
          fecha: "30-11-2019"
        },
        {
          subtitulo: "Red Guardada 5",
          referencia: "Juan Perez Lopez",
          fecha: "31-11-2019"
        }
      ]
    };
  },
  methods: {
    setDataTable() {
      $(document).ready(function() {
        $("#tabla").DataTable();
      });
    },
    setDataTableRegistro() {
      $(document).ready(function() {
        $("#tabla2").DataTable();
      });
    },
    Limpiar() {
      this.busqueda.nombre = "";
      this.busqueda.apellido_paterno = "";
      this.busqueda.apellido_materno = "";
      this.busqueda.curp = "";
      this.busqueda.rfc = "";
    },
    getBusqueda() {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.url, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
            this.resultadosbusqueda = response.data;
            this.setDataTable();
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          var res = error.response;
          var response = res.data;

          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }
        });
    },
    mostrarRed() {
      var divBusqueda = this.$refs.busqueda;
      var divRegistro = this.$refs.registro;
      var divRed = this.$refs.red;

      divBusqueda.style.display = "none";
      divRegistro.style.display = "none";
      divRed.style.display = "block";

      var cy = cytoscape({
        container: document.getElementById("cy"),
        style: cytoscape
          .stylesheet()
          .selector("node")
          .css({
            height: 50,
            width: 50,
            "background-fit": "cover",
            "border-color": "gray",
            "border-width": 1,
            "border-opacity": 0.5
          })
          .selector("edge")
          .css({
            "curve-style": "bezier",
            width: 3,
            "target-arrow-shape": "triangle",
            "line-color": "gray",
            "target-arrow-color": "gray"
          })
          .selector("#bird")
          .css({
            "background-image": "img/registro/usuario1.png"
          })
          .selector("#cat")
          .css({
            "background-image": "img/registro/usuario2.png"
          })
          .selector("#ladybug")
          .css({
            "background-image": "img/red/Antecedentes.png"
          })
          .selector("#aphid")
          .css({
            "background-image": "img/red/Casa.png"
          })
          .selector("#rose")
          .css({
            "background-image": "img/red/Familia.png"
          })
          .selector("#grasshopper")
          .css({
            "background-image": "img/red/RedesSociales.png"
          })
          .selector("#plant")
          .css({
            "background-image": "img/red/Organizaciones.png"
          })
          .selector("#wheat")
          .css({
            "background-image": "img/red/Finanzas.png"
          }),

        elements: {
          nodes: [
            { data: { id: "cat" } },
            { data: { id: "bird" } },
            { data: { id: "ladybug" } },
            { data: { id: "aphid" } },
            { data: { id: "rose" } },
            { data: { id: "grasshopper" } },
            { data: { id: "plant" } },
            { data: { id: "wheat" } }
          ],
          edges: [
            { data: { source: "bird", target: "cat" } },
            { data: { source: "bird", target: "ladybug" } },
            { data: { source: "bird", target: "grasshopper" } },
            { data: { source: "bird", target: "plant" } },
            { data: { source: "bird", target: "wheat" } },
            { data: { source: "bird", target: "aphid" } },
            { data: { source: "bird", target: "rose" } }
          ]
        }
      });
    },
    irBusqueda() {
      var divBusqueda = this.$refs.busqueda;
      var divRegistro = this.$refs.registro;
      var divRed = this.$refs.red;

      divBusqueda.style.display = "block";
      divRegistro.style.display = "none";
      divRed.style.display = "none";
    },
    irRegistro() {
      var divBusqueda = this.$refs.busqueda;
      var divRegistro = this.$refs.registro;
      var divRed = this.$refs.red;

      divBusqueda.style.display = "none";
      divRegistro.style.display = "block";
      divRed.style.display = "none";
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Dashboard",
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Dashboard - Error",
      message: "",
      timeout: 3000
    }
  }
};
</script>

<style scoped>
#panel_red {
  display: none;
}
#panel_registro {
  display: none;
}
</style>


