<template>
  <div class="container">
    <div class="animated fadeIn">
      <b-row>
        <b-col sm="12">
          <b-card>
            <div slot="header">
              <strong>Registro de usuario</strong>
            </div>
            <b-row>
              <b-col sm="6">
                <b-form-group label="Nombre" description="Nombre del usuario">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-id-card"></i>
                      </span>
                    </div>
                    <b-form-input type="text" name="nombre"  v-model="usuario.nombre" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Apellido Paterno" description="Apellido Paterno">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-id-card-o"></i>
                      </span>
                    </div>
                      <b-form-input type="text" name="apellido_paterno"  v-model="usuario.apellido_paterno" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Apellido Materno" description="Apellido Paterno">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-id-card-o"></i>
                      </span>
                    </div>
                      <b-form-input type="text" name="apellido_materno"  v-model="usuario.apellido_materno" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group>
                  <h6 class="text-center">
                   
                      <img
                        ref="image"
                        :src="userImage"
                        alt="admin@bootstrapmaster.com"
                        class="img-avatar"
                        width="60%"
                      />
                  </h6>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col sm="6">
                <b-form-group label="Sexo" description="Sexo del usuario">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-intersex"></i>
                      </span>
                    </div>
                    <b-form-select
                      v-model="usuario.sexo"
                      id="sexo"
                      :plain="true"
                      :options="opciones_sexo"
                      @change="imagenPorSexo()"
                    ></b-form-select>

                  </b-input-group>
                </b-form-group>

                <b-form-group label="Usuario" description="Nombre de la cuenta o email del usuario">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                   <b-form-input type="text" name="usuario"  v-model="usuario.usuario" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Tipo de usuario" description="Rol del usuario">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                    <b-form-select
                      v-model="usuario.tipo"
                      :plain="true"
                      :options="opciones_tipo"
                    ></b-form-select>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group label="Imagen de usuario" description="Imagen de perfil">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-image"></i>
                      </span>
                    </div>
                    <div class="form-control">
                    
                    </div>
                     <div class="input-group-append">
                            <b-button variant="outline-primary" class="form-control"  size="sm" @click="agregarImagen()" >
                                        <i class="fa fa-upload"></i>&nbsp;Agregar Imagen
                            </b-button>
                     </div>

                    <b-form-file style="display : none;" id="file" ref="file" name="file0" @change="fileChange()" :plain="true" class="form-control"></b-form-file>
                  </b-input-group>
                  
                </b-form-group>

                <b-form-group label="Contraseña" description="Contraseña de la cuenta">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key"></i>
                      </span>
                    </div>
                    <b-form-input type="password" name="password"  v-model="usuario.password" class="form-control"></b-form-input>
                  </b-input-group>
                </b-form-group>

                <b-form-group label="Tema del Dashboard" description="Color de la interfaz">
                  <b-input-group>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-adjust"></i>
                      </span>
                    </div>
                    <b-form-select v-model="usuario.tema" :plain="true" :options="opciones_tema" ></b-form-select>
                  </b-input-group>
                </b-form-group>
              </b-col>
               <b-col sm="12">
                <b-col sm xs="12" class="text-right mt-3">
                  <b-button variant="primary"  @click.prevent="GuardaUsuario()">
                    <i class="fa fa-user-plus"></i>&nbsp;Guardar Usuario
                  </b-button>&nbsp;&nbsp;
                  <b-button variant="danger"  @click.prevent="Limpiar()" >
                    <i class="fa fa-trash"></i>&nbsp;Cancelar
                  </b-button>
                </b-col>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>

import { required, minLength } from "vuelidate/lib/validators";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from 'vue-notifications'
export default {
  name: "AgregarRoles",
  validations: {
    usuario: {
      nombre: {
        required
      },
      apellido_paterno: {
        required
      },
      apellido_materno: {
        required
      },
      usuario: {
        required
      },
      password: {
        required
      }
    }
  },
  mounted(){
      this.getRoles();
  },
  data() {
    return {
      usuario: {
        nombre: "",
        apellido_paterno: "",
        apellido_materno: "",
        sexo: "Masculino",
        usuario: "",
        password: "",
        tema: "Dark",
        tipo: "Selecciona un Tipo",
        imagen: ""
      },
      opciones_sexo : ["Masculino", "Femenino"],
      opciones_tipo : ["Selecciona un Tipo"],
      opciones_tema : ["Dark", "White"],
      opciones_tipo_id : {"Selecciona un Tipo" : 0},
      cargando : false,
      file : "",
      url : Global.host + "users",
      urlRoles : Global.host + "roles",
      userImage: "img/usuarios/Masculino.png"

    };
  },
  methods: {
    GuardaUsuario() {
       this.cargando = true;
       this.$v.$touch();
       if (this.$v.$invalid) {  
              this.showErrorMsg({message: "Campos incompletos"});
       }
       else {
        var id_rol = this.opciones_tipo_id[this.usuario.tipo];
        if(id_rol === 0){
                        this.showErrorMsg({message: "Seleccione un tipo de Usuario"});
                        return;
        }
        var formData = new FormData();
        console.log(this.file);
        formData.append('nombre', this.usuario.nombre);
        formData.append('apellido_paterno',  this.usuario.apellido_paterno);
        formData.append('apellido_materno',  this.usuario.apellido_materno);
        formData.append('sexo',  this.usuario.sexo);
        formData.append('usuario',  this.usuario.usuario);
        formData.append('password',  this.usuario.password);
        formData.append('tema',  this.usuario.tema);
        formData.append('tipo', id_rol);
        formData.append('imagen', this.file);

        var token = this.$session.get("dashboard_token");
        axios
          .post(
           this.url,
           formData,
           { headers: {"Authorization" : `Bearer ${token}`} }
          )
          .then(res => {
              var response = res.data;
              if(res.status === 200){
                     this.showSuccessMsg({message: response.msj});
                     this.Limpiar();
              }
              else{
                     this.showErrorMsg({message: response.msj});
              }

          }).catch((error) => {      
                  var res = error.response;
                  
                  var response = res.data;
                  if(res.status === 401){
                        this.$session.destroy();
                        this.$router.push('/login');
                        this.showErrorMsg({message: response.msj});
                  }
                  else if(res.status === 400){
                              this.showErrorMsg({message: response.msj});
                  }else{
                              this.showErrorMsg({message: error.message});
                  }

          });
      }
    },
    Limpiar(){
        this.usuario.nombre = "";
        this.usuario.apellido_paterno = "";
        this.usuario.apellido_materno = "";
        this.usuario.usuario = "";
        this.usuario.password = "";
        this.usuario.imagen = "";
        this.usuario.sexo = "Masculino";
        this.usuario.tema = "Dark";
        this.usuario.tipo = "Selecciona un Tipo";
        this.file = "";
        var img = this.$refs.image;
        img.src = "img/usuarios/Masculino.png";
    },
    fileChange(){
      this.file = this.$refs.file.$refs.input.files[0];

      var img = this.$refs.image;

        if (this.file != "") {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(this.file);
        }
    },
    imagenPorSexo(){
      if(this.file === ""){
            var img = this.$refs.image;
            if(this.usuario.sexo === "Masculino"){
                  img.src = "img/usuarios/Masculino.png";
            }else{
                    img.src = "img/usuarios/Femenino.png";
            }
      }
    },
    agregarImagen(){
         this.$refs.file.$refs.input.click();
    },
    getRoles() {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.urlRoles, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
                var roles = response.data;
                for(var i=0; i<roles.length; i++){
                      this.opciones_tipo.push(roles[i].nombre);
                      this.opciones_tipo_id[roles[i].nombre] = roles[i].id_rol;
                }
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          var res = error.response;
          var response = res.data;

          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }
    
        });
    },
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Dashboard',
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type:  VueNotifications.types.error,
      title: 'Dashboard - Error',
      message: "",
       timeout: 3000
    }
  }
 
};
</script>

