<template>

  <div className="animated">
    <b-card>
      <b-card-header  style="height:55px;">
        <strong><i class="fa fa-lock"></i> Roles de Usuario</strong>
        <div class="card-header-actions">
            <b-button variant="ghost-primary"  v-if="permisoAgregar" @click="irAgregarRoles()" >
              <strong> <i class="fa fa-plus-circle"></i>&nbsp;Agregar Rol</strong>
            </b-button>
        </div>
      </b-card-header>
      <b-card-body>
            <br>
              <table id="tabla" class="display cell-border" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for = "rol in roles" :key="rol.id">
                        <td>{{rol.nombre}}</td>
                        <td>
                            <router-link :to="/editar_rol/+rol.id_rol">
                             <b-button variant="ghost-primary"   >
                                <i class="fa fa-edit"></i>&nbsp;Editar
                            </b-button>
                            </router-link>
                           
                            <b-button variant="ghost-danger"   @click.prevent="confirmacionEliminar(rol.id_rol)" >
                                <i class="fa fa-trash"></i>&nbsp;Eliminar
                            </b-button>
                        </td>
                    </tr>
                </tbody>
              </table>
      </b-card-body>
    </b-card>

    <b-modal title="Eliminar Rol" size="sm" v-model="smallModal" @ok="eliminarRol()">
        <img src="/img/brand/logo.png" alt="Paris"  class="fondo">
        <h6>¿Desea Eliminar el Rol?</h6>
    </b-modal>

  </div>


   
</template>

<script>
import sampleData from "./_data";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from "vue-notifications";
import $ from 'jquery';
import dataTable from 'datatables';
export default {
  name: "Roles",
  mounted(){
      this.getRoles();
      this.getPermisoAgregar();
  },
  data: function() {
    return {
      roles: [],
      url: Global.host + "roles",
      smallModal: false,
      id_eliminar : 0,
      permisoAgregar : false
    };
  },

  methods: {
    setDataTable(){
        $(document).ready( function () {
           $('#tabla').DataTable( );
        } );
    },
    getRoles() {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.url, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
                  this.roles = response.data;
                  this.setDataTable();
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          var res = error.response;
          var response = res.data;

          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }

          
        });
    },
    confirmacionEliminar(id_rol){
            this.smallModal = true;
            this.id_eliminar = id_rol;
           
    },  
    eliminarRol(){
        console.log("SE elimino"+ this.id_eliminar);
        var data = {
                    id_rol : this.id_eliminar
        };
        var token = this.$session.get("dashboard_token");

        axios
          .delete(
            this.url,
            {
              data: data, 
              headers: {"Authorization" : `Bearer ${token}`} 
            }
          )
          .then(res => {
              var response = res.data;
              this.smallModal = false;
              if(res.status === 200){
                      $(document).ready( function () {
                                var table =  $('#tabla').DataTable().destroy();
                      });
                       this.getRoles();
                     this.showSuccessMsg({message: response.msj});
                       
              }
              else{
                     this.showErrorMsg({message: response.msj});
              }

          }).catch((error) => {      
                  var res = error.response;
                  var response = res.data;
                  if(res.status === 401){
                        this.$session.destroy();
                        this.$router.push('/login');
                        this.showErrorMsg({message: response.msj});
                  }
                  else if(res.status === 400){
                              this.showErrorMsg({message: response.msj});
                  }else{
                              this.showErrorMsg({message: error.message});
                  }

          });
    },
    getPermisoAgregar() {
          var cad_permiso = this.$session.get("dashboard_permisos");
          var permisos = JSON.parse(cad_permiso);
          if(permisos['agregar_rol'] != undefined){
                 this.permisoAgregar = permisos['agregar_rol'];
          }
    },
    irAgregarRoles(){
            this.$router.push("/agregar_rol");
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Dashboard",
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Dashboard - Error",
      message: "",
      timeout: 3000
    }
  }
};
</script>



<style scoped>
.fondo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 20px;
}
h6{
  text-align: center;
}
</style>