<template>

  <div className="animated">
    <b-card>
      <b-card-header  style="height:55px;">
        <strong><i class="fa fa-users"></i> Usuarios</strong>
        <div class="card-header-actions">
            <b-button variant="ghost-primary" @click="irRegistro()" v-if="permisoAgregar" >
              <strong> <i class="fa fa-plus-circle"></i>&nbsp;Agregar Usuario</strong>
            </b-button>
        </div>
      </b-card-header>
      <b-card-body>
            <br>
              <table id="tabla" class="display cell-border" >
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                        <th>A Paterno</th>
                        <th>A Materno</th>
                        <th>Sexo</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for = "user in usuarios" :key="user.id_usuario">
                        <td>
                              <img v-if="user.imagen != 'default.png'"
                                    :src="urlImage+user.imagen"
                                    class="img-avatar"
                                    width="70px"
                              />
                               <img v-if="user.imagen === 'default.png'"
                                    :src="'img/usuarios/'+user.sexo+'.png'"
                                    class="img-avatar"
                                    width="70px"
                              />
                        </td>
                        <td>{{user.nombre}}</td>
                        <td>{{user.apellido_paterno}}</td>
                        <td>{{user.apellido_materno}}</td>
                        <td>{{user.sexo}}</td>
                        <td>{{user.usuario}}</td>
                        <td>
                            <router-link :to="/perfil_usuario/+user.id_usuario">
                             <b-button variant="ghost-warning"   >
                                <i class="fa fa-eye"></i>&nbsp;Ver
                            </b-button>
                            </router-link>

                            <router-link :to="/editar_usuario/+user.id_usuario">
                             <b-button variant="ghost-primary"   >
                                <i class="fa fa-edit"></i>&nbsp;Editar
                            </b-button>
                            </router-link>
                           
                            <b-button variant="ghost-danger"   @click.prevent="confirmacionEliminar(user.id_usuario)" >
                                <i class="fa fa-trash"></i>&nbsp;Eliminar
                            </b-button>
                        </td>
                    </tr>
                </tbody>
              </table>
      </b-card-body>
    </b-card>

    <b-modal title="Eliminar Usuario" size="sm" v-model="smallModal" @ok="eliminarUsuario()">
        <img src="/img/brand/logo.png" alt="Paris"  class="fondo">
        <h6>¿Desea Eliminar el Usuario?</h6>
    </b-modal>

  </div>


   
</template>

<script>
import sampleData from "./_data";
import { Global } from "../data/Global";
import axios from "axios";
import VueNotifications from "vue-notifications";
import $ from 'jquery';
import dataTable from 'datatables';
export default {
  name: "Usuarios",
  mounted(){
      this.getUsuarios();
      this.getPermisoAgregar();
  },
  data: function() {
    return {
      usuarios: [],
      url: Global.host + "users",
      urlImage: Global.host + "imagen?nombre=",
      smallModal: false,
      id_eliminar : 0,
      permisoAgregar : false
    };
  },

  methods: {
    setDataTable(){
        $(document).ready( function () {
           $('#tabla').DataTable( );
        } );
    },
    getUsuarios() {
      this.cargando = true;
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.url, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
          var response = res.data;
          if (res.status === 200) {
                  this.usuarios = response.data;
                  console.log(this.usuarios);
                  this.setDataTable();
          } else {
            this.showErrorMsg({ message: response.msj });
          }
        })
        .catch(error => {
          var res = error.response;
          var response = res.data;

          if (res.status === 401) {
            this.$session.destroy();
            this.$router.push("/login");
            this.showErrorMsg({ message: response.msj });
          } else if (res.status === 400) {
            this.showErrorMsg({ message: response.msj });
          } else {
            this.showErrorMsg({ message: error.message });
          }

          
        });
    },
    getImage(nombre) {
     
      var token = this.$session.get("dashboard_token");
      axios
        .get(this.urlImage + nombre, { headers: { Authorization: `Bearer ${token}` } })
        .then(res => {
             console.log(res);
            return res.data;
        })
        .catch(error => {
          
        });
    },
    confirmacionEliminar(id_usuario){
            this.smallModal = true;
            this.id_eliminar = id_usuario;
           
    },  
    eliminarUsuario(){
        var data = {
                    id_usuario : this.id_eliminar
        };
        var token = this.$session.get("dashboard_token");

        axios
          .delete(
            this.url,
            {
              data: data, 
              headers: {"Authorization" : `Bearer ${token}`} 
            }
          )
          .then(res => {
              var response = res.data;
              this.smallModal = false;
              if(res.status === 200){
                      $(document).ready( function () {
                                var table =  $('#tabla').DataTable().destroy();
                      });
                       this.getUsuarios();
                     this.showSuccessMsg({message: response.msj});
                       
              }
              else{
                     this.showErrorMsg({message: response.msj});
              }

          }).catch((error) => {      
                  var res = error.response;
                  var response = res.data;
                  if(res.status === 401){
                        this.$session.destroy();
                        this.$router.push('/login');
                        this.showErrorMsg({message: response.msj});
                  }
                  else if(res.status === 400){
                              this.showErrorMsg({message: response.msj});
                  }else{
                              this.showErrorMsg({message: error.message});
                  }

          });
    },
    getPermisoAgregar() {
          var cad_permiso = this.$session.get("dashboard_permisos");
          var permisos = JSON.parse(cad_permiso);
          if(permisos['registro'] != undefined){
                 this.permisoAgregar = permisos['registro'];
          }
    },
    irRegistro(){
            this.$router.push("/registro");
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: "Dashboard",
      message: "",
      timeout: 3000
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: "Dashboard - Error",
      message: "",
      timeout: 3000
    }
  }
};
</script>



<style scoped>
.fondo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 20px;
}
h6{
  text-align: center;
}
</style>